{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VUUVV</title>
	<link media="all" rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "360buy/css/main.css" %}" type="text/css" />
	<script type="text/javascript">
		var dojoConfig = {
				async: true,
				isDebug: true,
				packages: [{
					name: 'vuuvv',
					location: '/static/dojo/vuuvv'
				}]
		};
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"></script>
	<script type="text/javascript">
		require(["dojo/query", "dojo/store/JsonRest", "dojo/domReady!"], function(query, JsonRest) {
			var store = new JsonRest({
				target: "/test/"
			});
			query("#get").on("click", function() {
				store.query({ foo: "value1" }, {
					start: 10,
					count: 10,
					sort: [
						{attribute: "baz", descending: true}
					]
					}).then(function(results){
						alert("get");
				});
			});
			query("#put").on("click", function() {
				store.put({foo: "bar"}, {id: 3});
			});
		});
	</script>
</head>
<body>
	<button id="get" type="" />get</button>
	<button id="post" type="" />post</button>
	<button id="put" type="" />put</button>
	<button id="delete" type="" />delete</button>
</body>
</html>
