{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{% static "js/lib/dijit/themes/claro/claro.css" %}"/>
	<link rel="stylesheet" href="{% static "js/vuuvv/src/dashboard/themes/css/dashboard.css" %}"/>
	<script type="text/javascript">
		var dojoConfig = {
			baseUrl: "/static/js/",
			async: true,
			tlmSiblingOfDojo: false,
			packages: [
				{name: "dojo", location: "lib/dojo"},
				{name: "dijit", location: "lib/dijit"},
				{name: "dojox", location: "lib/dojox"},
				{name: "dashboard", location: "vuuvv/src/dashboard"},
				{name: "vuuvv", location: "vuuvv/src/vuuvv"}
			]
		};
	</script>
	<script src="{% static "js/lib/dojo/dojo.js" %}" type="text/javascript"></script>
	<script type="text/javascript">
		require([
				"dojo/parser",
				"dijit/MenuItem",
				"vuuvv/LinkMenuItem",
				"vuuvv/HoverMenuBar",
				"dijit/PopupMenuBarItem",
				"dijit/Menu",
				"dijit/layout/Tabcontainer",
				"dijit/layout/ContentPane",
				"dojo/dnd/Moveable",
				"dijit/layout/BorderContainer",
				"dojo/domReady!"
		], function(parser) {
				parser.parse();
		});
	</script>
</head>
<body class="claro">
	<div id="main" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="liveSplitters: false, design:'headline'">
		<div data-dojo-type="vuuvv/HoverMenuBar" data-dojo-props="region:'top', popupDelay:100">
			<div data-dojo-type="dijit/PopupMenuBarItem">
				<span>System</span>
				<div data-dojo-type="dijit/Menu">
					<div data-dojo-type="dijit/MenuItem">User</div>
					<div data-dojo-type="dijit/MenuItem">FileManage</div>
					<div data-dojo-type="dijit/MenuItem">Logout</div>
				</div>
			</div>
			<div data-dojo-type="dijit/PopupMenuBarItem">
				<span>Account</span>
				<div data-dojo-type="dijit/Menu">
					<div data-dojo-type="dijit/MenuItem">User</div>
					<div data-dojo-type="dijit/MenuItem">Role</div>
					<div data-dojo-type="dijit/MenuItem">Permission</div>
				</div>
			</div>
		</div>
		<div data-dojo-type="dijit/layout/Tabcontainer" data-dojo-props="region:'center', tabStrip:true" class="top-tabs">
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Welcome'">
			</div>
		</div>
	</div>
</body>
</html>
