{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{% static "js/lib/dijit/themes/claro/claro.css" %}"/>
	<link rel="stylesheet" href="{% static "js/vuuvv/src/dashboard/themes/css/dashboard.css" %}"/>
	<script type="text/javascript">
		var dojoConfig = {
			baseUrl: "/static/js/",
			async: true,
			tlmSiblingOfDojo: false,
			packages: [
				{name: "dojo", location: "lib/dojo"},
				{name: "dijit", location: "lib/dijit"},
				{name: "dojox", location: "lib/dojox"},
				{name: "dashboard", location: "vuuvv/src/dashboard"}
			]
		};
	</script>
	<script src="{% static "js/lib/dojo/dojo.js" %}" type="text/javascript"></script>
	<script type="text/javascript">
		require(['dashboard/app']);
	</script>
</head>
<body class="claro">
	<div id="widget"></div>
</body>
</html>
