html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {
	margin:0;
	padding:0;
}

ol, ul {
	list-style: none;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

input,textarea,select {
	*font-size:100%
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

a img {
	border: 0;
}

img {
	vertical-align: middle;
}

:focus {
	outline: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

/* horizontal list */
.hl {
	letter-spacing: -4px;
}

/* inline-block (horizontal list item) */
.ib {
	letter-spacing: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}


