{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VUUVV</title>
	<link media="all" rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "360buy/css/main.css" %}" type="text/css" />
	<script type="text/javascript">
		var dojoConfig = {
				async: true,
				isDebug: true,
				packages: [{
					name: 'vuuvv',
					location: '/static/dojo/vuuvv'
				}]
		};
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"></script>
</head>
<body>
	<div class="shortcuts">
		<div class="w">
			<ul class="hl ib left">
				<li class="ib first">
					<a href="#">收藏VUUVV</a>
				</li>
				<li class="ib">
					<a href="#">迷你挑</a>
				</li>
				<li class="ib">
					<a href="#">好药师</a>
				</li>
			</ul>
			<ul class="hl ib right">
				<li class="ib first">
					<a href="#">您好，lookooo！</a>
				</li>
				<li class="ib">
					<a href="#">我的订单</a>
				</li>
				<li class="ib">
					<a href="#">特色栏目</a>
				</li>
				<li class="ib">
					<a href="#">手机京东</a>
				</li>
				<li class="ib">
					<a href="#">企业服务</a>
				</li>
				<li class="ib">
					<a href="#">客户服务</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
