{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>VUUVV</title>
	<link media="all" rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8.1/dijit/themes/dijit.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "360buy/css/main.css" %}" type="text/css" />
	<script src="{% static "js/vuuvv/src/dojo/dojo.js" %}" data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 1"></script>
	<script src="{% static "js/vuuvv/src/app/run.js" %}"></script>
</head>
<body class="claro">
</body>
</html>
